body {
    font-family: Arial, sans-serif;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-menu .menu-content {
    color: white;
    padding: 20px;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.openbtn {
    width: 110px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    align-items: center;
    display: flex;
    
}

.openbtn:hover {
    background-color: #444;
}

.price-filter {
    margin-top: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.slider-container input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
    background: transparent;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
    -webkit-appearance: none;
}

.slider-container input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
}

.slider-track {
    position: absolute;
    width: 95%;
    height: 5px;
    left: 5%;
    background-color: #818181;
    top: 50%;
    transform: translateY(-120%);
    z-index: -1;
}

.price-display {
    display: flex;
    justify-content: space-between;
    color: #818181;
    margin-top: 10px;
}

.price-display span {
    font-size: 16px;
}

.price-filter button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.price-filter button:hover {
    background-color: #666;
}
